.posterContainer{
    width: 100%; 
    border:solid green;
    text-align: center;
    background-color: yellow;
    
}

.topContainer{
    width: 100%; 
    font-size: 50px;
    border:solid green;
    text-align: center;
    
}

.picContainer{
    position: relative; 
    width: auto; 
    height: auto; 
    border:solid green;
    text-align: center;

}

.infoContainer{
    width: 100%; 
    border:solid green;
    text-align: center;
  
}